
<!-- <% if (typeof requestJob !== 'undefined') { %>
  <section>
    <% requestJob.forEach(function(blah) { %>
      <h3><%= blah.name %></h3>
      <img src="<%= blah.pic_path %>" alt="<%= blah.pic_name %>" />
    <% })%>
  </section>
<% } %> -->



<% if (typeof requestJob !== 'undefined') { %>
  <div class="campaign-row row">
  <section>
    <% requestJob.forEach(function(job) { %>
      <div class="col-sm-3 home-campaign-box">
      <img src="<%= job.pic_path %>" alt="<%= job.pic_name %>" />
      <div class="campaign-info-wrapper">
        <a class="title" href="/requestJob/<%= requestJob._id %>">
      <h3><%= job.title %></h3>
        </a><br>
        by <span class="light-text"><%= user.username %></span><br>
        <span class="light-text description"><%= requestJob.description %></span>
      </div>
    <% })%>
  </section>
  </div>
<% } %>


    <!-- <h1></h1>
    <p>

     <div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Creators thrive here.</h1>
      <p>Kickstarter creators pursue bold ideas on their own terms — and make an impact on the world, too.</p>
      <a class="btn btn-default" href="#">Read their stories</a>
    </div>
  </div>
</div>
</p> -->
