<div class="container">
  <div id="formdiv">
  <div class="row">
    <div class="col-sm-12 form-group-md">
      <form action="/<%= job._id %>/edit" method="post">
        <% if (typeof(errors) !== 'undefined'){ %>
          <div class="alert alert-danger">
          <ul>
            <% for (let error in errors){ %>
              <li><%= errors[error].message %></li>
            <% } %>
          </ul>
          </div>
        <% } %>
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control" value="<%= job.title %>">
        </div>
        <div class="form-group">
          <label for="category">Category</label><br>
          <select name="category" id="category">
            <% types.forEach((category) => { %>
            <!-- This selects the campaign's category in the dropdown -->
              <% if (category === job.category) { %>
                <option
                  selected
                  type="text"
                  value="<%= category %>"
                  class="form-control">
                <%= category %>
                </option>
              <% } else { %>
                <option type="text" value="<%= category %>" class="form-control"><%= category %></option>
              <% } %>
            <%  }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
          id="description"
          name="description"
          class="form-control">
          <%= job.description %>
        </textarea>
      </div>
        <div class="form-group">
          <label for="deadline">Deadline</label>
          <input type="date" name="deadline" class="form-control" value="<%= job.inputFormattedDate %>">
        </div>
        <div class="form-group">
          <button type="submit" value="Save" >Update Job</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
